<html>
    <head>
        <style>
            .btn {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>{{inviteName}} has invited you to join his team on projectmngr</p>
        <p> Please, click the link below to activate your account and fill in your password</p>
        <a class="btn" href={{activateUrl}}>Activate User</a>
    </body>
</html>